<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>회원가입</h2>
    <form method="post" action="/register">
        username: <input type="text" name="username" value="길동"/> <br/>
        password: <input type="password" name="password" value="1234"/> <br/>
        <input type="submit" value="가입">
    </form>
</body>
</html>